body{
    margin: 0%;
    font-family:  Helvetica,Arial, sans-serif;
}
/* The navigation bar */
nav {
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height:40px;
    text-decoration: none;
    padding-left: 10%;
    padding-bottom: 2px;
}  
ul{
    display: flex;
    padding-left: 0;
    gap: 1em;
    
}
/* Links inside the navbar */
nav a {
    color: #f2f2f2;
    text-decoration: none;
}
  /* Change background on mouse-over */
nav a:hover {
    
    color: red;
    text-decoration: underline;
}
header{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    background-color: rgb(211, 206, 206);
    border-radius:0px 0px 10px 10px;
    background-size: 50% auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header h1{
   text-transform: uppercase;

}
div h2{
    text-align: center;
}
#products{
    margin:auto;
    width: 80%;
    
}
#pics{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    gap:0.65em

}
#pics p{
    text-align: justify;
}
#pics img,video{
    width: 100%;
}


#form{
   

    
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    background-color: rgb(211, 206, 206);
    border-radius:10px 10px 10px 10px;
    background-size: 50% auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
label{
    padding-bottom:1em;
}

input{
   
    text-align: left;
    margin: auto;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    gap: 1em;
    
    
}
input[type="submit"]{
    border: none;
}
#financials h2,p{
    text-align: left;
    
}
#financials div{
    margin: auto;
    width: 80%;
   
}
table{
   
    border-collapse: collapse;
    width: 10%;
    margin: auto;
    padding-top: 0%;
    margin-bottom: 2em;
    
}
caption{
    font-size: 1.5em;
}
th{
    text-align: center;
    border-top: 1px solid black;
    text-decoration: bold;

}

td,
th {
  border-bottom: 1px solid black;
  border-left:1px solid black; 
  border-right: 1px solid black;;
  padding: .5em;
  
}
td {
    text-align: right;
  }
tbody tr:nth-child(odd) {
    background-color: rgb(228, 229, 232);
  }
tbody tr:hover{
    background-color: lightblue;
}
 

tr td:last-child{
    color: red;
  }
td :nth-child(1){
    font-weight: bold;
  }
  #about h2, #abt p {
    text-align: left;
    margin: auto;
    width: 80%;
}
td:nth-child(1){
    font-weight: bold;
}
  footer{
   position:fixed;
   bottom: 0;
   width: 100%;
   padding-left: 10%;
   background-color: black;
   color: #f2f2f2;
 
   
  }
  @media screen and (min-width: 1000px) {
  
    #pics {
        
        display: grid;
        grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
    }
    
    #form{
        display: inline-block;
        margin-left: 10%;
    }
    #financials h2 p{
        display: inline-block;
       margin-left: 10%;
    }
    table{
        margin: auto;
        width: 80%;
        padding-left: 25%;
        overflow-x: auto;
        margin-bottom: 55px;
        

    }
    form{
       margin-left: 25%;
        width: 60%;
        gap: 1em;
        flex-direction: row;
    
    }
    input[type="submit"]{
        margin-right:35%;
        margin-top: 2px;
        
  
    
    }
  }

  


  





  

  




    
    
    



