div:nth-child(1){
    background-color: red;
    /*grid-column-start: 2;
    grid-column-end: 4;*/
    grid-column: 2/4;
}
div:nth-child(2){
    background-color: purple;
    grid-column: 4/5;
    grid-row: 2/4;
}
div:nth-child(3){
    background-color: brown;
    grid-column: 2/4;
    grid-row: 4/5;
}
div:nth-child(4){
    background-color: green;
    grid-column: 1/2;
    grid-row: 2/4;
}
div:nth-child(5){
    background-color: red;
    grid-column: 2/3;
    grid-row: 2/3;
}
div:nth-child(6){
    background-color: purple;
    grid-column: 3/4;
    grid-row: 2/3;
}
div:nth-child(7){
    background-color: brown;
    grid-column: 3/4;
    grid-row: 3/4;
}
div:nth-child(8){
    background-color: green;
    grid-column: 2/3;
    grid-row: 3/4;
}
body{
    display: grid;
    grid-template-columns: 250px 50px 50px 250px;
    grid-template-rows: 250px 50px 50px 250px;
}